# Database URL from Neon
# Get yours at https://neon.tech
DATABASE_URL="postgresql://username:password@ep-xxxxx.region.aws.neon.tech/neondb?sslmode=require"

# Code PIN pour accéder à l'application (4 chiffres)
NEXT_PUBLIC_PIN_CODE=0000

# Clé API Google Gemini pour le scan de tickets
# Get yours at https://aistudio.google.com/app/apikey
GEMINI_API_KEY=your_gemini_api_key_here
